@import url('https://fonts.googleapis.com/css?family=Karla|Lora|Merriweather|Noto+Sans|Overpass|PT+Serif|Roboto+Slab|Rubik|Source+Sans+Pro&display=swap');

body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Karla', sans-serif;
}


/* nav bar styling */
.nav-link {
    display: inline-block;
    float: right;
    font-family: 'Karla', sans-serif;
}

.navbar-light .navbar-nav .nav-item a{
    display: inline-block;
    text-align: center;
    color: #767CA1;
    font-size: 80%;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #000;
    /*text-decoration: underline;*/
}


.navbar-brand {
    padding-top: 25%;
}


/* home content */
.home-1 img {
    margin-left: -15%;
    width: 100%;
    height: auto;
    padding-top: 30%;
    opacity: 0.95;
}

.home-1 #intro-text {
    margin-left: 20%;
    margin-top: 30%;
}

.home-1 .arrow {
    font-size: 120%;
    margin-left: 5%;
    margin-top: -2%;
}

.home-1 .arrow-img {
    background-image: url("../img/elem-01.png");
    background-repeat:no-repeat;
    height: 500px;
    margin-top: -5%;
}

.home-1 #intro-text-2 {
    margin-left: 20%;
    margin-top: 10%;
}

.home-1 #intro-text-3 {
    margin-top: -130%;
}

.elem-2 {
    background-image: url("../img/elem-02.png");
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    height: 600px;
    margin-left: 60%;
    margin-top: -15%;
}

.elem-3 {
    background-image: url("../img/elem-03.png");
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    height: 600px;
    margin-left: 0%;
    margin-top: -15%;
}


.bullet-space li {
    margin-top: 10%;
    margin-bottom: 10%;
}

.bullet-space-3 li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.bullet-space-2 li {
    margin-top: -5%;
}


.elem-4 {
    background-image: url("../img/elem-04.png");
    background-repeat:no-repeat;
    /*background-size: cover;*/
    height: 1300px;
    margin-left: 12%;
    margin-top: 20%;
}

.elem-4-text{
    margin-top: -5%;
    margin-left: 20%;
}

.desc-text p{
    margin-left: -15%;
    margin-right: 15%;
    line-height: 2em;
}

.desc-text-part {
    margin-top: 15%;
    margin-bottom: 25%;
}


.elem-5 {
    background-image: url("../img/elem-05.png");
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    height: 550px;
    margin-left: 80%;
    margin-top: -15%;
    margin-bottom: -20%;
}


.wp-line {
    border-left: 20px solid #a6d1ea;
    height: 90px;
    margin-right: 10%;
}


.work-play a{
    font-size: 300%;
    color: #000;
}

.work-play a:hover {
    color: #767CA1;
    text-decoration: none;
}


.last-text-home a{
    color: #434b7e;
}

.last-text-home a:hover{
    color: #767CA1;
    text-decoration: none;
}


/* footer */
footer p {
    font-size: 80%;
}



/* contact */
.contact a{
    color: #EFD88D;
    /*color: yellow;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    /*text-shadow: -1px 0 #a6d1ea, 0 1px #a6d1ea, 1px 0 #a6d1ea, 0 -1px #a6d1ea;*/
}

.contact a:hover{
    color: #a6d1ea;
    text-shadow: none;
    text-decoration: none;
}

.contact h1 {
   /* font-size: 140%;*/
}

.contact-pt1 {
    font-size: 180%;
}

.contact h4 {
    font-size: 140%;
}



/* play */

.container-play {
    width: 75%;
    margin:0 auto;
}



/* work */

.proj-item a {
    font-size: 140%;
    padding-bottom: 20%;
    color: #000;
    font-weight: bold;
}

.proj-item a:hover {
    color: #767CA1;
    text-decoration: none;
}

.proj-item p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.highlight {
    background-color: #ffefb9;
    padding: 1%;
}

.bv {
    padding-top: 1%;
}

.proj-item ul{
    padding: 0;
    list-style-type: none;
    margin-bottom: 6%;
}

.proj-item li {
    list-style: none;
    display: inline-block;
    margin-right: 1.5%;
    font-size: 75%;
    /*font-weight: bold;
    color: #a6d1ea;*/
}

.proj-item {
    padding-top: 1%;
}

.proj-line {
    border-left: 2px solid #000;
    padding-left: 3%;

}

.exp-item {
    padding-top: 3%;
}

.exp-item a {
    color: #434b7e;
}

.exp-item a:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #767CA1;
}

.exp-item h5 {
    font-weight: bold;
    font-size: 140%;
}

.exp-line {
    border-left: 2px solid #000;
    padding-left: 8%;
}

.exp-item .summer {
    font-size: 75%;
}

.highlight-blue {
    background-color: #a6d1ea;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}






