@import url('https://fonts.googleapis.com/css?family=Karla|Lora|Merriweather|Noto+Sans|Overpass|PT+Serif|Roboto+Slab|Rubik|Source+Sans+Pro&display=swap');

body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Karla', sans-serif;
}


/* nav bar styling */
.nav-link {
    display: inline-block;
    float: right;
    font-family: 'Karla', sans-serif;
}

.nav-item a{
    display: inline-block;
    text-align: center;
    font-size: 80%;
}

.nav-item a:hover {
    color: #000;
    font-weight: bold;
}


/* home content */
.home-1 img {
    margin-left: -15%;
    width: 80%;
    height: auto;
    padding-top: 30%;
    opacity: 0.95;
}

.home-1 #intro-text {
    margin-left: 20%;
    margin-top: 30%;
}

.home-1 .arrow {
    font-size: 120%;
    margin-left: 5%;
    margin-top: -2%;
}

.home-1 #intro-text-2 {
    margin-left: 20%;
    margin-top: 40%;
}

/* footer */
footer p {
    font-size: 80%;
}



/* contact */
.contact a{
    color: #fff;
    /*color: yellow;*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contact a:hover{
    color: #080808;
    text-shadow: none;
    text-decoration: none;
}

.contact h1 {
   /* font-size: 140%;*/
}

.contact-pt1 {
    font-size: 180%;
}

.contact h4 {
    font-size: 140%;
}





