@import url('https://fonts.googleapis.com/css?family=Karla|Lora|Merriweather|Noto+Sans|Overpass|PT+Serif|Roboto+Slab|Rubik|Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* nav bar styling */
.nav-link {
    display: inline-block;
    float: right;
    font-family: 'Karla', sans-serif;
}

.navbar-light .navbar-nav .nav-item a{
    display: inline-block;
    text-align: center;
    color: #767CA1;
    font-size: 80%;
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #000;
    /*text-decoration: underline;*/
}

/*.nav-item a{
    display: inline-block;
    text-align: center;
    font-size: 80%;
}

.nav-item a:hover {
    color: #000;
    font-weight: bold;
}
*/
.navbar-brand {
    padding-top: 25%;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: #CE8898;
}

.small-heading {
    font-family: 'Karla', sans-serif;
    color: #CE8898;
}

/* projects */
/*.background-col {
    background-color: #000;
}*/

.back-to-work a{
    color: #434b7e;
}

.back-to-work a:hover {
    color: #767CA1;
}

.small-heading img {
  width: 80%;
  display: inline-block;
  height: auto;

}

.purple-link {
    color: #434b7e;
    display: inline;
}

.purple-link:hover {
    color: #767CA1;
    text-decoration: none;
}

.back-to-work {
    /*margin: 5% auto;*/
    margin-top: 5%;
    margin-left: -10%;
}

/* footer */

footer {
    margin-top: 10%;
}

footer p {
    font-size: 80%;
}

.highlight {
    background-color: #ffefb9;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.highlight-blue {
    background-color: #a6d1ea;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

