@import url('https://fonts.googleapis.com/css?family=Karla|Lora|Merriweather|Noto+Sans|Overpass|PT+Serif|Roboto+Slab|Rubik|Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* nav bar styling */
.nav-link {
    display: inline-block;
    float: right;
    /*font-family: 'Lora', serif;*/
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'PT Serif', serif;*/
    font-family: 'Karla', sans-serif;
}

.nav-item a{
    display: inline-block;
    text-align: center;
    font-size: 80%;
}

.nav-item a:hover {
    color: #000;
    font-weight: bold;
}

h1 {
    font-family: 'Karla', sans-serif;
}

.small-heading {
    font-family: 'Karla', sans-serif;
}

/* projects */
/*.background-col {
    background-color: #000;
}*/



/*color of links on hover & active, spacing between links and above*/

/* footer */
footer p {
    font-size: 80%;
}

